.bottoms-div {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    text-align: center;
    align-items: center;
    flex-wrap: wrap;
    margin-left: 5em;
    margin-right: 5em;
    height: 80vh;
    margin-top: 0rem;
}


.cards {
    margin-top: 2em;


}
.bottoms {
    background: #274156;
}

.header {
    padding: 60px;
    text-align: center;
    background: #E1B23F;
    font-size: 30px;
}