.jumbotron-div {
    background: url(./assets/hero.jpg);
    height: 80vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    display: flex;
    justify-content: flex-end;
    margin-bottom: 0rem;
}

.home-div {
    background-color: #E1B23F;
}

.hero-content {
    max-width: 500px;
    
}

.jumbotron {
    margin-bottom: 0rem;
}
